#navbar{
    display: flex;
    padding: .4em;
    color: white;
    background-color: #1890ff;
}
.logo{
    padding: 0.6em;

}
#navbar button{
    padding: 0.6em;

    cursor: pointer;
    margin-left: auto;
    border: none;
    background-color: transparent;
    margin-right: 1em;
    color: white;
    border-radius: 10px;
    padding: 1em;
}

#navbar button:hover{
    background-color: #3c98f5;
}